<div id="<%= dom_id collection %>" class="collection">
  <p>
    <p>
      <strong>Name:</strong>
      <%= collection.name %>
    </p>

    <strong>Description:</strong>
    <%= collection.description %>
  </p>
</div>
