<p style="color: green"><%= notice %></p>

<% content_for :title, "Photography collections" %>

<h1>Photography collections</h1>

<div id="collections">
  <% @collections.each do |collection| %>
      <%= render collection %>
  <% end %>
</div>

<%= link_to "New collection", new_collection_path %>
