#nav {
  align-items: center;
  display: flex;
  position: fixed;
  padding: 6px;
  justify-content: space-between;
  width: 100%;

  #nav--pane {
    position: fixed;

    ul {
      list-style: none;
    }
  }

  #nav--signout {
  }
}

#collections {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .collection {
    margin-bottom: 16px;
    flex: 0 0 auto;
    width: 30%;
    padding: 12px;
    background-color: green;
  }
}